#####################
# Project-specific
#####################
/src/Web.Mvc/logs/
/src/ProcentCqrsDb/sql
Output

#####################
# Visual Studio
#####################
*.user
*.suo
*.sln.cache
#####################
# Database projects
*.dbmdl
*.dbproj.schemaview

#####################
# Build
#####################
bin/
obj/

#####################
# Resharper
#####################
*.resharper
*\_ReSharper*
*_ReSharper*