@using ProcentCqrs.Web.Mvc.Controllers
@model UsersController.UsersIndexModel

@{
    ViewBag.Title = "All Users";
}

@Html.Action(MVC.Users.RenderAdd())

<h2>All Users</h2>

<table>
<thead><tr>
    <th>Id</th><th>email</th><th>first name</th><th>last name</th><th>actions</th>
</tr></thead>
<tbody data-bind="template: { name: 'tmplUserRow', foreach: users }"></tbody>
</table>
<script id="tmplUserRow" type="text/html">
    <tr>
        <td>${Id}</td>
        <td>${Email}</td>
        <td>${FirstName}</td>
        <td>${LastName}</td>
        <td><a href="#" data-bind="click: function() { viewModel.requestRename(Id) }">rename</a></td>
    </tr>
</script>

@Html.Action(MVC.Users.RenderRename())

<script type="text/javascript" src="@Links.Scripts.app.views.Users.users_index_js"></script>
<script type="text/javascript">
    cqrs.allUsers = @Html.Raw(Model.AllUsers.ToJSON());
</script>