@using ProcentCqrs.Web.Mvc.Controllers
@model UsersController.UsersRenameModel

<div id="dlgRenameUser" data-title-template="Rename user {0} {1}" class="modal-dialog">
@using(Ajax.BeginForm(MVC.Users.Rename(), "v.onRenamed"))
{
    @Html.EditorForModel();
    
    <input type="submit" value="Rename" />
}
</div>